<form action="/addblog" method="post">

  Blog Post<br>
  
  <input name="id" placeholder="User ID">

  <br>

  <textarea id="" cols="50" rows="30" placeholder="Write your Blog Post Here" name="text"></textarea>
  
  <br>
  
  <input type="Submit">
</form>